<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <TpmCapType>0x00000001</TpmCapType>
  <TpmHandleType>0x01000000</TpmHandleType>
  <readhandles>0</readhandles>
  <getproperties>0</getproperties>
  <getcommands>0</getcommands>
  <generatecert>0</generatecert>
  <readpcr>0</readpcr>
  <NvRead>1</NvRead>
  <NvRead_idx>0xC00002</NvRead_idx>
  <NvRead_hdl>0xC00002</NvRead_hdl>
  <NvRead_sz>0x10</NvRead_sz>
<GetAlgProperties>0</GetAlgProperties>
</Configuration>